$color-primario: aquamarine;
$color-secundario: black;
$color-terciario: aqua;
$color-don: aliceblue;
$color-btn: rgb(2, 9, 34);
$color-don2: rgb(43, 226, 101);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
