header {
    background-color: $color-primario;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: $color-secundario;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

header nav img {
    max-width: 200px;}